/* FONT IMPORT */

@font-face {
  font-display: swap;
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/space-mono-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Space Mono';
  font-style: bold;
  font-weight: 700;
  src: url('./assets/fonts/space-mono-700.woff2') format('woff2');
}

/* Variables */

:root {
  --BGCOLOR: #c5e4e7;
  --BGCOLOR-INPUT: #f3f9fa;
  --FONT-COLOR-LABEL: #5e7a7d;
  --FONT-COLOR-HEADER: #3d6666;
}

/* CSS RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border-color: transparent;
}

fieldset {
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

html {
  font-size: 62.5%;
}

/* GENERAL STYLES */
body {
  font-family: 'Space Mono', sans-serif;
  background-color: var(--BGCOLOR);
}

header {
  text-align: center;
  color: var(--FONT-COLOR-HEADER);

  font-size: 1.3rem;
  line-height: 1.5;
  letter-spacing: 1rem;
}

.calculator {
  background-color: #fff;
  padding-top: 1em;
}

.container {
  margin: 0 auto;
  width: 85%;
  /* background-color: lightblue;  */
}

/* FORM STYLING */

.form__tip-calculator {
  margin-top: 2.4rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1.2rem;
}
.label__header {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--FONT-COLOR-LABEL);
}

/* Inputs */

input {
  background-color: var(--BGCOLOR-INPUT);
  padding: 0.5em 2em;
  border-radius: 4px;
  width: 100%;
}
