/* FONT IMPORT */

@font-face {
  font-display: swap;
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/space-mono-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Space Mono';
  font-style: bold;
  font-weight: 700;
  src: url('./assets/fonts/space-mono-700.woff2') format('woff2');
}

/* Variables */

/* CSS RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border-color: transparent;
}

fieldset {
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

html {
  font-size: 62.5%;
}

/* GENERAL STYLES */
body {
  font-family: 'Space Mono', sans-serif;
}
